<ul class="pagination">
  {{! showing first page all time start }}
  {{#if (comparePaginationPageValue currentPage 1)}}
    {{#if (comparePaginationPageValue previousPage 1)}}
      <li class="page-item"><a class="page-link" href="/ideas?page=1">1</a></li>
    {{/if}}
  {{/if}}
  {{! showing first page all time end }}

  {{#if hasPreviousPage}}
    <li class="page-item"><a
        class="page-link"
        href="/ideas?page={{previousPage}}"
      >{{previousPage}}</a></li>
  {{/if}}
  <li class="page-item active" aria-current="page"><a
      class="page-link"
      href="/ideas?page={{currentPage}}"
    >{{currentPage}}</a></li>
  {{#if hasNextPage}}
    <li class="page-item"><a
        class="page-link"
        href="/ideas?page={{nextPage}}"
      >{{nextPage}}</a></li>
  {{/if}}

  {{! showing last page all time start }}
  {{#if (comparePaginationPageValue lastPage currentPage)}}
    {{#if (comparePaginationPageValue lastPage nextPage)}}
      <li class="page-item"><a
          class="page-link"
          href="/ideas?page=${{lastPage}}"
        >{{lastPage}}</a></li>
    {{/if}}
  {{/if}}
  {{! showing last page all time end }}
</ul>