<div class="row">
  <div class="col-md-9">
      {{#if userRef}}
        <h1>All Ideas By <span>{{firstName}}</span> </h1>

        {{!-- //using partials file --}}
        {{>_ideas-index}}

        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}
        

      {{else if categoryName}}
        <h1>All Ideas By <span>{{categoryName}}</span> </h1>
        
        {{!-- //using partials file --}}
          {{>_ideas-index}}

        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}

      {{else}}

        {{!-- //using partials file --}}

        {{>_ideas-index}}

        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}
      {{/if}}
  </div>

  <div class="col-md-3">
    {{!-- {{#if categories}} --}}
      <div class="mt-5">
        <p>Category:</p>
          {{#each categories}}
            <a href="/categories/{{category}}/ideas"><span class="badge bg-primary" style="cursor:pointer">{{category}}</span></a>
          {{/each}}
      </div>
    {{!-- {{/if}}
    {{#if categories}} --}}
        <div class="my-5">
          <p>Tags:</p>
        {{#each ideaTags}}
         {{#each tags}}
         <span class="badge bg-primary">{{this}}</span>
        {{/each}}
        {{/each}}
    </div>
    {{!-- {{/if}} --}}

  </div>
</div>