<div class="row">
  <div class="col-md-9">
      {{#if userRef}}
        <h1>All Ideas By <span>{{firstName}}</span> </h1>

        {{!-- //using partials file --}}
        {{>_ideas-index}}

          <ul class="pagination mt-3">
            {{!-- showing first page all time start --}}
            {{#if (comparePaginationPageValue currentPage 1) }}
            {{#if (comparePaginationPageValue previousPage 1)}}
              <li class="page-item"><a class="page-link" href="/users/{{userId}}/ideas?page=1">1</a></li>
            {{/if}}
            {{/if}}
            {{!-- showing first page all time end --}}



            {{#if hasPreviousPage}}
              <li class="page-item"><a class="page-link" href="/users/{{userId}}/ideas?page={{previousPage}}">{{previousPage}}</a></li>
            {{/if}}
              <li class="page-item active" aria-current="page"><a class="page-link" href="/users/{{userId}}/ideas?page={{currentPage}}">{{currentPage}}</a></li>
            {{#if hasNextPage}}
              <li class="page-item"><a class="page-link" href="/users/{{userId}}/ideas?page={{nextPage}}">{{nextPage}}</a></li>
            {{/if}}


              {{!-- showing last page all time start --}}
                {{#if lastPage}}
                    {{#if (comparePaginationPageValue lastPage currentPage) }}
                    {{#if (comparePaginationPageValue lastPage nextPage)}}
                      <li class="page-item"><a class="page-link" href="/users/{{userId}}/ideas?page={{lastPage}}">{{lastPage}}</a></li>
                    {{/if}}
                    {{/if}}
                {{/if}}
            
            {{!-- showing last page all time end --}}
          </ul>

        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}
        

      {{else if categoryName}}
        <h1>All Ideas By <span>{{categoryName}}</span> </h1>
        
        {{!-- //using partials file --}}
          {{>_ideas-index}}

              <ul class="pagination mt-3">
                  {{!-- showing first page all time start --}}
                  {{#if (comparePaginationPageValue currentPage 1) }}
                  {{#if (comparePaginationPageValue previousPage 1)}}
                    <li class="page-item"><a class="page-link" href="/categories/{{categoryName}}/ideas?page=1">1</a></li>
                  {{/if}}
                  {{/if}}
                  {{!-- showing first page all time end --}}



                  {{#if hasPreviousPage}}
                    <li class="page-item"><a class="page-link" href="/categories/{{categoryName}}/ideas?page={{previousPage}}">{{previousPage}}</a></li>
                  {{/if}}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="/categories/{{categoryName}}/ideas?page={{currentPage}}">{{currentPage}}</a></li>
                  {{#if hasNextPage}}
                    <li class="page-item"><a class="page-link" href="/categories/{{categoryName}}/ideas?page={{nextPage}}">{{nextPage}}</a></li>
                  {{/if}}


                    {{!-- showing last page all time start --}}
                     
                    {{#if lastPage}}
                        {{#if (comparePaginationPageValue lastPage currentPage) }}
                        {{#if (comparePaginationPageValue lastPage nextPage)}}
                          <li class="page-item"><a class="page-link" href="/categories/{{categoryName}}/ideas?page={{lastPage}}">{{lastPage}}</a></li>
                    {{/if}}
                  {{/if}}
                    {{/if}}
                  {{!-- showing last page all time end --}}
                </ul>


        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}

      {{else}}

        {{!-- //using partials file --}}

        {{>_ideas-index}}

         <ul class="pagination mt-3">
            {{!-- showing first page all time start --}}
            {{#if (comparePaginationPageValue currentPage 1) }}
            {{#if (comparePaginationPageValue previousPage 1)}}
              <li class="page-item"><a class="page-link" href="/ideas?page=1">1</a></li>
            {{/if}}
            {{/if}}
            {{!-- showing first page all time end --}}



            {{#if hasPreviousPage}}
              <li class="page-item"><a class="page-link" href="/ideas?page={{previousPage}}">{{previousPage}}</a></li>
            {{/if}}
              <li class="page-item active" aria-current="page"><a class="page-link" href="/ideas?page={{currentPage}}">{{currentPage}}</a></li>
            {{#if hasNextPage}}
              <li class="page-item"><a class="page-link" href="/ideas?page={{nextPage}}">{{nextPage}}</a></li>
            {{/if}}


              {{!-- showing last page all time start --}}
                {{#if lastPage}}
                    {{#if (comparePaginationPageValue lastPage currentPage) }}
                    {{#if (comparePaginationPageValue lastPage nextPage)}}
                      <li class="page-item"><a class="page-link" href="/ideas?page={{lastPage}}">{{lastPage}}</a></li>
                    {{/if}}
                    {{/if}}
                {{/if}}
         
            {{!-- showing last page all time end --}}
          </ul>


        {{!-- {{#each ideas}}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <div class="card-text">{{{trancateContent description 30}}}</div>
              <br />
              <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        {{/each}} --}}
      {{/if}}
  </div>

  <div class="col-md-3">
    {{!-- {{#if categories}} --}}
      <div class="mt-5">
        <p>Category:</p>
          {{#each categories}}
            <a href="/categories/{{category}}/ideas"><span class="badge bg-primary" style="cursor:pointer">{{category}}</span></a>
          {{/each}}
      </div>
    {{!-- {{/if}}
    {{#if categories}} --}}
        <div class="my-5">
          <p>Tags:</p>
        {{#each ideaTags}}
         {{#each tags}}
         <span class="badge bg-primary">{{this}}</span>
        {{/each}}
        {{/each}}
    </div>
    {{!-- {{/if}} --}}

  </div>
</div>

 {{!-- {{>_pagination}} --}}
 