<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex align-item-center justify-content-between">
      <div style="width:80%">
          <h5 class="card-title">{{idea.title}}</h5>
          <div class="card-text">{{{idea.description}}}</div>
      </div>
      <div class="ml-2" style="text-align: center; border: 2px dashed #f69c55; padding: 15px">
          <span class="card-title">Written by: <strong>{{idea.user.firstName}}</strong></sp>
          <div class="card-text"> <p>{{formatDate idea.createdAt 'dd--MM-yyyy'}}</p> </div>
      </div>
    </div>

    <div class="my-3">
      {{!-- for tag array show start --}}
      <em>Tags:</em>
      {{#each idea.tags}}
        <span class="badge bg-primary">{{this}}</span>
      {{/each}}
    </div>
      {{!-- for tag array show end --}}


{{!-- if login then show "edit" and "delete" button start  --}}
    {{#if user}}

    {{!-- displayBtn using for showing this type button that idea you not creating --}}
    <div style="display:{{displayBtn idea.user.id user_id}}">
    {{!-- <div style="display:{{displayBtn idea.user.id  user._id}}"> --}}
      <div class="d-flex align-item-center">
        <div>
          <a
            href="/ideas/{{idea._id}}/edit"
            class="btn btn-primary btn-sm"
          >Edit</a>
        </div>
        <div>
          <form
            action="/ideas/{{idea._id}}?_method=DELETE"
            method="POST"
            class="mx-2"
          >
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
      </div>
    {{else}}
    {{/if}}
    {{!-- if login then show "edit" and "delete" button end  --}}


  </div>
</div>





{{!-- for login. without login cannot seeing comment secton --}}
{{#if user}}

{{!-- allow comments is false then cannot add comments --}}
{{#if idea.allowComments}}
<div class="card mt-2">
  <a href="/ideas/{{idea._id}}/comments/new" class="btn btn-info btn-sm">Add a
    Comments</a>
{{!-- comments looping --}}
  <div class="card-body mt-2">
    {{#each idea.comments}}


      <div class="d-flex align-item-center justify-content-between">
        <div>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{text}}</p>
        </div>
        <div style="border:1px solid red; padding:15px;width:300px">
          <p><small>{{user.firstName}}</small></p>
          <p><small>{{formatDate createdAt 'dd--MM-yyyy'}}</small></p>
        </div>
      </div>


      
    <div style="display:{{displayBtn user.id ../user_id}}">
        {{!-- idea.id is on label up id so that using {{../}} --}}
      <form action="/ideas/{{../idea._id}}/comments/{{_id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-sm m-2">Delete</button>
      </form>
    </div>
      <hr />
    {{else}}
      <p class="card-text">No Comments to Show</p>
    {{/each}}
    {{!-- comments looping end--}}

  </div>
</div>
{{else}}
<h5 class="text-muted text-center">Comments Disabled</h5>
{{/if}}
{{!-- allow comments is false then cannot add comments end --}}
{{else}}
<h5 class="text-muted text-center">Please <a href="/auth/login">Login</a> for add and view comments</h5>
{{/if}}





