<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{idea.title}}</h5>
    <div class="card-text">{{{idea.description}}}</div>

    {{#if user}}
      <div class="d-flex align-item-center">
        <div>
          <a
            href="/ideas/{{idea.id}}/edit"
            class="btn btn-primary btn-sm"
          >Edit</a>
        </div>
        <div>
          <form
            action="/ideas/{{idea.id}}?_method=DELETE"
            method="POST"
            class="mx-2"
          >
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    {{else}}
    {{/if}}

  </div>
</div>
<div class="my-3">
  <em>Tags:</em>
  {{#each idea.tags}}
    <span class="badge bg-primary">{{this}}</span>
  {{/each}}
</div>
<div class="card mt-2">

  <a href="/ideas/{{idea.id}}/comments/new" class="btn btn-info btn-sm">Add a
    Comments</a>

  <div class="card-body mt-2">
    {{#each idea.comments}}
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{text}}</p>
      {{!-- idea.id is on label up id so that using {{../}} --}}
      <form action="/ideas/{{../idea.id}}/comments/{{id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-sm m-2">Delete</button>
      </form>
      <hr />
    {{else}}
      <p class="card-text">No Comments to Show</p>
    {{/each}}

  </div>
</div>