<div class="row">
    <div class="col-md-3">
         {{>_deshboardPanel.left}}
    </div>
    <div class="col-md-7">
        <form action="/users/me?_method=PUT&_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-8 offset-md-2">
                <h3 class="text-muted">Edit Profile</h3>
                
                    <div class="col">
                    <label for="firstName">First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="First name"
                        aria-label="First name"
                        name="firstName"
                        id="firstName"
                        {{#if userInput.firstName}} value="{{userInput.firstName}}" {{/if}}
                    />
                    </div>
                    <div class="col my-3">
                    <label for="lastName">Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Last name"
                        aria-label="Last name"
                        name="lastName"
                        id="lastName"
                        {{#if userInput.lastName}}  value="{{userInput.lastName}}" {{/if}}
                    />
                    </div>
                
                {{!-- <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    name="email"
                    {{#if userInput.email}} value="{{userInput.email}}" {{/if}}
                    />
                </div> --}}
                <div class="mb-3">
                    <label for="profilePicture" class="form-label">Profile Picture</label>
                    <input
                    type="file"
                    class="form-control"
                    id="profilePicture"
                    placeholder="Profile Picture"
                    name="profilePicture"
                    {{!-- {{#if userInput.email}} value="{{userInput.email}}" {{/if}} --}}
                    />
                </div>
                
                <input type="submit" value="Edit Profile" class="btn btn-primary btn-sm" />
                </div>
            </div>

        </form>
    </div>
</div>